<section>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<mat-card>
			<mat-card-header>
				<div mat-card-avatar class="header-image"></div>
				<mat-card-title>Bem-vindo ao Arcanum</mat-card-title>
			</mat-card-header>

			<mat-card-content>

				<mat-form-field class="form-element">
					<input matInput placeholder="Usuário" formControlName="username">
					<mat-error *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
						Este campo é obrigatório
					</mat-error>
				</mat-form-field>

				<mat-form-field class="form-element">
					<input type="password" matInput placeholder="Senha" formControlName="password">

					<mat-error *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
						Este campo é obrigatório
					</mat-error>
				</mat-form-field>

				<div class="form-element">
					<button mat-raised-button color="primary" type="submit" class="button"
						[disabled]="!loginForm.valid">Entrar</button>
				</div>

			</mat-card-content>
		</mat-card>
	</form>
</section>